<h4 id="welcoming" class="text-center">Welcoming Commands</h4>
<div class="permissions text-center">{User required to have "Manage Permissions"}</div>
<table class="commands table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-center col-xs-4">Command</th>
			<th class="text-center col-xs-4">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>set welcome message &lt;welcome message&gt;</td>
		<td>Sets the welcome message for the current guild (not the direct message). If one exists, a new message will be added to send.</td>
	</tr>
	<tr>
		<td>set welcome dm &lt;welcome message&gt;</td>
		<td>Adds a welcome message for the current guild (not the message). If one exists, a new one will be added.</td>
	</tr>
	<tr>
		<td>clear welcome message</td>
		<td>Clears the welcome message for the current guild (not the direct message)</td>
	</tr>
	<tr>
		<td>clear welcome dm</td>
		<td>Clears the welcome dm for the current guild (not the message)</td>
	</tr>
	</tbody>
</table>