<span id="silly"></span><br /><br />
<h4 class="text-center">Silly Commands</h4>
<table class = "commands table table-striped table-hover">
     <thead>
		<tr>
			<th class="text-center col-xs-4">Command</th>
			<th class="text-center col-xs-4">Description</th>
		</tr>
	</thead>
     <tbody>
        <tr>
             <td>hug</td>
             <td>Hug Genesis</td>
          </tr>
          <tr>
             <td>joke</td>
             <td>Genesis tells a joke</td>
          </tr>
          <tr>
             <td>corgi</td>
             <td>Genesis gets a corgi picture <code>(Service from <a href="https://github.com/ryands/hubot-corgi" target="_blank">here</a>)</code></td>
          </tr>  
     </tbody>
     
  </table>
</div>