<table class="commands table table-striped table-hover">
  <th colspan="2">
    <h4 class="text-center">Utility Commands</h4>
  </th>
  <tr>
    <td>userinfo &lt;mention|id&gt;</td>
    <td>Get info about a user sepcified, or the current user if no user is specified.</td>
  </tr>
  <tr>
    <td>serverinfo</td>
    <td>Get info about the current server.</td>
  </tr>
  <tr>
    <td>create &lt;room|raid|team&gt; &lt;@users to invite&gt; </td>
    <td>Create a private room and invite mentioned users to it. (Mentions optional) <br /> - <span class="example">Example <code>create room @Tobiah#8452 @Sphirical#4837</code><span></td>
  </tr>
  <tr>
    <td>info</td>
    <td>Displays general information about Genesis.</td>
  </tr>
  <tr>
    <td>poll:</td>
    <td><code>This is an inline command.</code><br />Creates a poll (essentially just adds 3 reactions to the original message).</td>
  </tr>
  <tr>
    <td>[Query]</td>
    <td><code>This is an inline command.</code><br />Queries weapons, warframes, and arcanes for the searched query and displays it formattted (or smaller if it has to pull it from the wikia).</td>
  </tr>
</table>