<table class="commands table table-striped table-hover">
	<th colspan="2">
		<h4 class="text-center">Core Commands</h4>
	</th>
	<tr>
		<td>bug &lt;bug report&gt;</td>
		<td>Send a bug report to bot owner</td>
	</tr>
	<tr>
		<td>bug &lt;subject&gt; | &lt;body&gt; | &lt;(optional) screenshot link&gt;</td>
		<td>Send a bug report to bot owner with subject, message, and optional screenshot. The | are important.</td>
	</tr>
	<tr>
		<td>bug &lt;subject&gt; | &lt;body&gt; | &lt;attached image&gt;</td>
		<td>Send a bug report to bot owner with subject, message, and optional screenshot. The | are important.</td>
	</tr>
	<tr>
		<td>invite</td>
		<td>Send Invitation Link to Authorize Bot to Join a Server.</td>
	</tr>
	<tr>
		<td>ping</td>
		<td>Ping Genesis to test connectivity.</td>
	</tr>
	<tr>
		<td>help</td>
		<td>Displays a link to this page.</td>
	</tr>
	<tr>
		<td>help &lt;query&gt;</td>
		<td>Searches the commands available to you for something matching that query.</td>
	</tr>
	<tr>
		<td>support</td>
		<td>Displays information about supporting Genesis' development.</td>
	</tr>
</table>