<h4 id="settings" class="text-center">Settings Commands</h4>
<div class="permissions text-center">{User required to have "Manage Permissions"}</div>
<table class="commands table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center col-xs-4">Command</th>
      <th class="text-center col-xs-4">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>settings</td>
      <td>Get settings</td>
    </tr>
    <tr>
      <td>platform &lt;platform&gt;</td>
      <td>Change this channel's platform <br /> - <span class="example">Example <code>platform PC</code><span></td>
    </tr>
    <tr>
      <td>delete after respond &lt;all | command | response | none&gt;</td>
      <td>Change if the bot to delete commands and/or responses after responding in this channel. Whatever is selected will be marked as available to be deleted.<br /> - <span class="example">Example <code>delete after respond all</code></span></td>
    </tr>
    <tr>
      <td>delete expired &lt;on or off&gt;</td>
      <td>Delete expired alerts <code>(Inconsistent, not recommended, due to api limitations)</code></td>
    </tr>
    <tr>
      <td>enable &lt;command id&gt; in &lt;channel&gt; for &lt;role|user&gt;</td>
      <td>Enable a command for a role in a channel or channels</td>
    </tr>
    <tr>
      <td>disable &lt;command id&gt; in &lt;channel&gt; for &lt;role|user&gt;</td>
      <td>Disable a command for a role in a channel or channels</td>
    </tr>
    <tr>
      <td>getcommandids</td>
      <td>Get list of bot command ids available for you to view</td>
    </tr>
    <tr>
      <td>language &lt;language&gt;</td>
      <td>Change this channel's language <code>(doesn't do anything right now)</code></td>
    </tr>
    <tr>
      <td>prefix &lt;prefix (up to 3 characters)&gt;</td>
      <td>Change this server's bot prefix</td>
    </tr>
    <tr>
      <td>respond to settings &lt;on or off&gt;</td>
      <td>Toggle whether or not the bot tells you when settings change from your command.</td>
    </tr>
    <tr>
      <td>allow private room &lt;on or off&gt;</td>
      <td>Change if the users in this server are allowed to make private rooms</td>
    </tr>
    <tr>
      <td>allow custom commands &lt;on or off&gt;</td>
      <td>Change if the users in this server are allowed to use custom commands</td>
    </tr>
    <tr>
      <td>set rooms notext &lt;on or off&gt;</td>
      <td>Change if the default for temporary channels is to include a text chat or not. "on" means the bot will not create text chats.</td>
    </tr>
    <tr>
      <td>set rooms unlocked &lt;on or off&gt;</td>
      <td>Change if the default for temporary channels is to be locked or not. "on" means the bot will make chats public.</td>
    </tr>
    <tr>
      <td>allow inline commands &lt;on or off&gt;</td>
      <td>Change if the users in this channel are allowed to use inline commands</td>
    </tr>
    <tr>
      <td>delete expired &lt;on or off&gt;</td>
      <td>Change if expired alerts will be automatically deleted on expiration. This doesn't apply to webhook messages.</td>
    </tr>
    <tr>
      <td>add cc &lt;command&gt; &lt;message&gt;</td>
      <td>Adds custom command with a single word (no spaces) command,<br />such as <code>/lfg</code><br /> and responding with the <code>message.</code> </td>
    </tr>
    <tr>
      <td>delete cc &lt;command&gt;</td>
      <td>Deletes custom command in this server with provided <code>command</code>.</td>
    </tr>
  </tbody>
</table>
