<span id="wf-utilities"></span><br /><br />
<h4 class="text-center">Warframe Commands - Utility</h4>
<table class="commands table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-center col-xs-4">Command</th>
			<th class="text-center col-xs-4">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>arcane</td>
			<td>Display Arcane Enhancements available to get information on</td>
		</tr>
		<tr>
			<td>arcane &lt;enhancement name&gt;</td>
			<td>Display information for a particular arcane enhancement</td>
		</tr>
		<tr>
			<td>armor</td>
			<td>Display instructions for calculating armor</td>
		</tr>
		<tr>
			<td>armor &lt;current armor&gt;</td>
			<td>Display current damage resistance and amount of corrosive procs required to strip it.</td>
		</tr>
		<tr>
			<td>armor &lt;base armor&gt; &lt;base level&gt; &lt;current level&gt;</td>
			<td>Display the current armor, damage resistance, and necessary corrosive procs to strip armor.</td>
		</tr>
		<tr>
			<td>buildchart</td>
			<td>Displays the Weapon Build Flowchart chart</td>
		</tr>
		<tr>
			<td>cycle</td>
			<td>Current and remaining time in cycle of Cetus' rotation.</td>
		</tr>
		<tr>
			<td>cycle earth</td>
			<td>Current and remaining time in cycle of Earth's rotation.</td>
		</tr>
		<tr>
			<td>damage</td>
			<td>Display Damage 2.0 chart</td>
		</tr>
		<tr>
			<td>efficiency</td>
			<td>Display the Efficiency/Duration balance chart</td>
		</tr>
		<tr>
			<td>mod</td>
			<td>Search the Warframe Wiki for a mod's image</td>
		</tr>
		<tr>
			<td>pricecheck &lt;item&gt;</td>
			<td>Display an items worth from nexus-stats.com</td>
		</tr>
		<tr>
			<td>frame &lt;warframe&gt;</td>
			<td>Get a Warframe's profile video</td>
		</tr>
		<tr>
			<td>progress</td>
			<td>Display Warframe Progression Chart</td>
		</tr>
		<tr>
			<td>raid &lt;username&gt;</td>
			<td>Search for a users's raid stats</td>
		</tr>
		<td>shields &lt;base shields&gt; &lt;base level&gt; &lt;current level&gt;</td>
		<td>Display an enemy's current shields.</td>
		</tr>
		<tr>
			<td>tutorial &lt;subject&gt;</td>
			<td>Get a Warframe Tutorial Video</td>
		</tr>
		<tr>
			<td>weapon &lt;weapon search&gt;</td>
			<td>Get a Warframe weapon's information <code>(incomplete)</code></td>
		</tr>
		<tr>
			<td>whereis &lt;item&gt;</td>
			<td>Display where an item drops</td>
		</tr>
		<tr>
			<td>whatsin &lt;relic&gt;</td>
			<td>Display contents and drop chances for items in a relic</td>
		</tr>
		<tr>
			<td>wiki &lt;topic&gt;</td>
			<td>Search the Warframe wiki for a specific topic</td>
		</tr>
		<tr>
			<td>add build &lt;title | body | image url&gt;</td>
			<td>Add a build with given title, body, and image url.</td>
		</tr>
		<tr>
			<td>get build &lt;build id&gt;</td>
			<td>Get a specific build by the build id.</td>
		</tr>
		<tr>
			<td>list builds</td>
			<td>List your builds.</td>
		</tr>
		<tr>
			<td>delete build &lt;buildId&gt;</td>
			<td>Delete your created build from the list.</td>
		</tr>
		<tr>
			<td>set build &lt;fieldName buildId | value&gt;</td>
			<td>Edit a specific field.</td>
		</tr>
	</tbody>
	
</table>