<h4 id="tracking" class="text-center">Tracking Commands</h4>
<div class="permissions text-center">{User required to have &quot;Manage Permissions&quot;}</div>
<table class="commands table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center col-xs-4">Command</th>
            <th class="text-center col-xs-4">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>add role &lt;role_name&gt;</td>
            <td>Add a joinable role
                <br>- <span class="example">Example <code>add role Nitain</code></span>
            </td>
        </tr>
        <tr>
            <td>remove role &lt;role_name&gt;</td>
            <td>Remove a specific role
                <br>- <span class="example">Example <code>remove role Nitain</code></span>
            </td>
        </tr>
        <tr>
            <td>roles</td>
            <td>See a complete list of joinable roles</td>
        </tr>
        <tr>
            <td>join &lt;role_name&gt;</td>
            <td>Join a specific role <span class="permissions">{Bot Requires &quot;Manage Roles&quot;}</span>
                <br>- <span class="example">Example <code>join Nitain</code></span>
            </td>
        </tr>
        <tr>
            <td>leave &lt;role_name&gt;</td>
            <td>Leave a specific role <span class="permissions">{Bot Requires &quot;Manage Roles&quot;}</span>
                <br>- <span class="example">Example <code>leave Nitain</code></span>
            </td>
        </tr>
        <tr>
            <td>roleids</td>
            <td>Shows ids for all the roles in the guild.</td>
        </tr>
        <tr>
            <td>track</td>
            <td>Show list of trackable events and/or items</td>
        </tr>
        <tr>
            <td>track &lt;event(s)_or_item(s)&gt;</td>
            <td>Track one or multiple events and items
                <br>- <span class="example">Example <code>track alerts invasions news</code> /OR/ <code>track catalyst forma exilus</code><br> /OR/ <code>track all</code> </span>
            </td>
        </tr>
        <tr>
            <td>track cetus.&lt;day or night&gt;.&lt;time before cycle ends&gt;</td>
            <td>Track a specific point of time in the cetus cycle. The time is the time <i>before the end of the current cycle</i>.Thus,
                10 minutes before night would be <code>track cetus.day.10</code>
                <br><code>untrack all</code> does <b>NOT</b> untrack events tracked this way.</td>
        </tr>
        <tr>
            <td>untrack &lt;event(s)_or_item(s)&gt;</td>
            <td>Untrack one or multiple events and items
                <br>- <span class="example">Example <code>untrack alerts invasions news</code> /OR/ <code>untrack catalyst forma exilus</code><br> /OR/ <code>untrack all</code></span>
            </td>
        </tr>
        <tr>
            <td>untrack cetus.&lt;day or night&gt;.&lt;time before cycle ends&gt;</td>
            <td>Untrack a specific point of time in the cetus cycle.</td>
        </tr>
        <tr>
            <td>set ping</td>
            <td>Show list of pingable events and/or items</td>
        </tr>
        <tr>
            <td>set ping &lt;event_or_item&gt; @mention</td>
            <td>Set ping for specific event or item and to mention a role
                <br>- <span class="example">Example <code>set ping alerts @alertrole</code></span>
            </td>
        </tr>
        <tr>
            <td>set ping cetus.&lt;day or night&gt;.&lt;time before cycle ends&gt;</td>
            <td>Set ping for a specific point of time in the cetus cycle. The time is
                the time <i>before the end of the current cycle</i>.Thus, 10 minutes before
                night would be <code>set ping cetus.day.10</code>
            </td>
        </tr>
        <tr>
            <td>set ping &lt;event_or_item&gt;</td>
            <td>Remove specified set ping
                <br>- <span class="example">Example <code>set ping alerts</code></span>
            </td>
        </tr>
        <tr>
            <td>clear pings</td>
            <td>Remove all set pings for the guild.</td>
        </tr>
        <tr>
            <td>clear permissions</td>
            <td>Remove all set permissions for this channel.</td>
        </tr>
        <tr>
            <td>start</td>
            <td>Start show semi-meme-y information on how to start tracking and documentation.</td>
        </tr>
        <tr>
            <td>stop</td>
            <td>Untrack everything, this includes events like <code>cetus.night.5</code>
            </td>
        </tr>
    </tbody>
</table>
