<h4 id="utility" class="text-center">Utility Commands</h4>
<table class="commands table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center col-xs-4">Command</th>
            <th class="text-center col-xs-4">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>userinfo &lt;mention|id&gt;</td>
            <td>Get info about a user sepcified, or the current user if no user is specified.</td>
        </tr>
        <tr>
            <td>serverinfo</td>
            <td>Get info about the current server.</td>
        </tr>
        <tr>
            <td>create &lt;room|chat|raid|team&gt; &lt;@users to invite&gt; -n &lt;(Optional)
                name&gt; --public --no-text</td>
            <td>Create a private room and invite mentioned users to it. (Mentions optional)
                <br>- <span class="example">Example <code>create room @Tobiah#8452 @Sphirical#4837</code><span><br>Also optional are the <code>--public</code> and <code>--no-text</code> flags, which set the channel to public or tell the bot not to create a text channel, respectively.</span></span>
            </td>
        </tr>
        <tr>
            <td>rename room &lt;new room name&gt;</td>
            <td>Rename your temp room
                <br>- <span class="example">Example <code>rename room Tobiah&apos;s Channel with Lots of Fun</code></span>
            </td>
        </tr>
        <tr>
            <td>lock</td>
            <td>Lock your temp room</td>
        </tr>
        <tr>
            <td>unlock</td>
            <td>Unlock your temp room</td>
        </tr>
        <tr>
            <td>resize room &lt;new room size&gt;</td>
            <td>Change a room&apos;s size, between 1 and 99, inclusive.
                <br>- <span class="example">Example <code>resize room 22</code></span>
            </td>
        </tr>
        <tr>
            <td>invite @Mentions</td>
            <td>Invite other members (grant them permissions) for your temp chat in this
                guild.</td>
        </tr>
        <tr>
            <td>info</td>
            <td>Displays general information about Genesis.</td>
        </tr>
        <tr>
            <td>poll:</td>
            <td><code>This is an inline command.</code>
                <br>Creates a poll (essentially just adds 3 reactions to the original message).</td>
        </tr>
        <tr>
            <td>[Query]</td>
            <td><code>This is an inline command.</code>
                <br>Queries weapons, warframes, and arcanes for the searched query and displays
                it formattted (or smaller if it has to pull it from the wikia).</td>
        </tr>
    </tbody>
</table>
