<table class="commands table table-striped table-hover">
	<th colspan="2">
		<h4 class="text-center">On-Demand Commands</h4>
		<br/><span>To see the output for a specific platform add <code>on platform</code> to the end of the command,<br />such as <code>/acolye on pc</code></span>
	</th>
	<tr>
		<td>acolyte</td>
		<td>Display any currently active acolyte-style enemies.<br /></td>
	</tr>
	<tr>
		<td>alerts</td>
		<td>Display the currently active alerts.</td>
	</tr>
	<tr>
		<td>baro</td>
		<td>Display the current status of the Void Trader.</td>
	</tr>
	<tr>
		<td>conclave &lt;conclave category&gt;</td>
		<td>Display conclave challenges for a challenge type.</td>
	</tr>
	<tr>
		<td>darvo</td>
		<td>Displays today's Darvo deal.</td>
	</tr>
	<tr>
		<td>events</td>
		<td>Display ongoing events.</td>
	</tr>
	<tr>
		<td>construction</td>
		<td>Display construction progress for Fomorian Fleets and Razorback Armadas.</td>
	</tr>
	<tr>
		<td>featureddeal</td>
		<td>Displays current featured deals.</td>
	</tr>
	<tr>
		<td>fissures</td>
		<td>Get the current list of Void Fissure Missions.</td>
	</tr>
	<tr>
		<td>invasion</td>
		<td>Display the currently active Invasions.</td>
	</tr>
	<tr>
		<td>news</td>
		<td>Display the currently active news.</td>
	</tr>
	<tr>
		<td>populardeals</td>
		<td>Displays current featured deals.</td>
	</tr>
	<tr>
		<td>primeaccess</td>
		<td>Display the currently active prime access news.</td>
	</tr>
	<tr>
		<td>simaris</td>
		<td>Display current Sanctuary status.</td>
	</tr>
	<tr>
		<td>sortie</td>
		<td>Display the currently active sorties.</td>
	</tr>
	<tr>
		<td>syndicate &lt;syndicate&gt;</td>
		<td>Display syndicate nodes for a syndicate.</td>
	</tr>
	<tr>
		<td>updates</td>
		<td>Display the currently active update news.</td>
	</tr>
</table>