<h4 id="promocodes" class="text-center">Promocodes</h4>
<div class="permissions text-center">{Please be patient! This is a new feature and we're still filling the commands in!}</div>
<table class="commands table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center col-xs-4">Command</th>
      <th class="text-center col-xs-4">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>glyphs create pool &lt;pool name&gt;</td>
      <td>Create a new Glyph pool<br /> - <span class="example">Example <code>glyphs create pool tobiah</code></span></td>
    </tr>
    <tr>
      <td>glyphs add manager --pool &lt;pool ID&gt; &lt;user mention or ID&gt;</td>
      <td>Add a manager to your Glyph pool<br /> - <span class="example">Example <code>glyphs add manager tobiah @Sphirical</code></span></td>
    </tr>
    <tr>
      <td>glyphs del manager --pool &lt;pool ID&gt; &lt;user mention or ID&gt;</td>
      <td>Remove a manager from your Glyph pool<br /> - <span class="example">Example <code>glyphs del manager tobiah @Sphirical</code></span></td>
    </tr>
    <tr>
      <td>glyphs set password --pool &lt;pool id&gt; &lt;new pool password&gt;</td>
      <td>Add a password to a specific pool<br /> - <span class="example">Example <code>glyphs set password --pool tobiah Genesis</code></span></td>
    </tr>
    <tr>
      <td>glyphs grant --pool &lt;pool id&gt; &lt;platform&gt; &lt;user mention or ID&gt;</td>
      <td>Grant a code to a user from a specific pool<br /> - <span class="example">Example <code>glyphs grant --pool tobiah pc @Sphirical</code></span></td>
    </tr>
    <tr>
      <td>glyphs claim --pool {pool id} {platform} --password {password}</td>
      <td>Claim a code from a pool of promocodes (glyphs)<br /> - <span class="example">Example <code>glyphs claim --pool Tobiah PC --password Genesis</code></span></td>
    </tr>
    <tr>
      <td>glyphs list claimed</td>
      <td>Show your claimed Glyphs codes</td>
    </tr>
    <tr>
      <td>glyphs list managed</td>
      <td>List your managed pools</td>
    </tr>
    <tr>
      <td>glyphs del pool --pool &lt;pool id&gt;</td>
      <td>Remove a glyph pool that you manage. Providing the pool Id is optional if you only manage one<br /> - <span class="example">Example <code>glyphs del pool --pool tobiah</code></span></td>
    </tr>
    <tr>
      <td>glyphs export --pool &lt;pool id&gt;</td>
      <td>Export codes from a pool to a <pre>.csv</pre> file<br /> - <span class="example">Example <code>glyphs export --pool tobiah</code></span></td>
    </tr>
    <tr>
      <td>help glyph</td>
      <td>List of all Glyph related commands</td>
    </tr>
  </tbody>
</table>
