<table class = "commands table table-striped table-hover">
     <th colspan="2">
        <h4 class="text-center">Silly Commands</h4>
     </th>
     <tr>
        <td>hug</td>
        <td>Hug Genesis</td>
     </tr>
     <tr>
        <td>joke</td>
        <td>Genesis tells a joke</td>
     </tr>
     <tr>
        <td>corgi</td>
        <td>Genesis gets a corgi picture <code>(Service from <a href="https://github.com/ryands/hubot-corgi" target="_blank">here</a>)</code></td>
     </tr>
  </table>
</div>