<footer class="navbar-footer navbar-fixed-bottom text-center" id="footer">
    <div class="row" id="footer-row">
        <div class="col-xl-12" id="footer-content">	<a name="Copyright Warframe Community Devs" href="#credits" data-target="#wfcd"
            data-toggle="modal" style="outline:none;"><span class="glyphicon glyphicon-copyright-mark"></span> 2018 WFCD</a>
	<span> | </span>
            <a
            name="License" href="#license" data-target="#license" data-toggle="modal"
            style="outline:none;">License</a>	<span> | </span>
	<a name="Discord Help &amp; Support" href="#discord"
                data-target="#discord" data-toggle="modal" style="outline:none;">Discord Help &amp; Support</a>
        </div>
    </div>
</footer>
<!-- License Information -->
<div class="modal fade" id="license" tabindex="-1" role="dialog" aria-labelledby="licenseLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button name="Dismiss Modal" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&#xD7;</button>
                	<h4 class="modal-title">License Information</h4>
            </div>
            <div class="modal-body">Concepted and Crafted by <a name="Tobiah Github" rel="noopener" target="_blank"
                href="https://github.com/TobiTenno">Tobiah</a> with contributions from others
                on the Warframe Community Developers team, especially the work of <a href="https://github.com/nspacestd"
                name="nspacestd Github" rel="noopener" target="_blank">nspacestd</a>, who
                helped kick start the project and continues to contribute to this day.
                <br>
                <br>The Genesis project is committed to open source. This site is licensed
                and distributed under	<a name="Apache License" rel="noopener" target="_blank"
                href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> and
                this project is licensed and distributed under	<a name="MIT License" rel="noopener"
                target="_blank" href="https://opensource.org/licenses/MIT">the MIT License</a>
                <br>
                <br>Warframe and the Warframe logo are registered trademarks of Digital Extremes
                Ltd. Genesis is not affiliated with Digital Extremes Ltd. in any way.
                <br>
                <br>You are entitled to a copy of this project AS IS, and you are free to
                modify it to your heart&apos;s desires. You must include a copy of this
                license to all future modification and releases. You can read more about
                the terms of the license	<a name="Apache License" rel="noopener" target="_blank"
                href="https://choosealicense.com/licenses/apache-2.0/">here</a>.</div>
            <div
            class="modal-footer">
                <button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal"
                style="cursor:pointer;">Close</button>
        </div>
    </div>
</div>
</div>
<!-- WFCD Information -->
<div class="modal fade" id="wfcd" tabindex="-1" role="dialog" aria-labelledby="wfcdLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button name="Dismiss Modal" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&#xD7;</button>
                	<h4 class="modal-title">Warframe Community Developers</h4>
            </div>
            <div class="modal-body">This project is part of the Warframe Community Developers.
                <br>	<a name="Genesis Github" href="https://github.com/WFCD/genesis" rel="noopener"
                target="_blank">Click here to view GitHub project.</a>
                <br>
                <br>	<a name="Warframe Comm Dev Github" rel="noopener" target="_blank" href="https://github.com/WFCD">

                    <img class="wfcd-banner rounded" style="padding: 10px 10px 10px 10px" src="https://warframestat.us/wfcd.png"></a>
                <br>
                <br>Pull requests are welcome, please submit any issues found to the project&apos;s
                <a
                name="Hub Issues" rel="noopener" target="_blank" href="https://github.com/WFCD/genesis/issues">issue tracker</a>.
                    <br>
                    <br>Support the development of this project on Patreon: <a name="Project Genesis"
                    href="https://patreon.com/cephalongenesis" target="_blank">Genesis Project </a>
            </div>
            <div class="modal-footer">
                <button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal"
                style="cursor:pointer;">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Help and Support Information -->
<div class="modal fade" id="discord" tabindex="-1" role="dialog" aria-labelledby="discordLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button name="Dismiss Modal" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&#xD7;</button>
                	<h4 class="modal-title">Discord Help and Support</h4>
            </div>
            <div class="modal-body">If you&apos;re looking into this or any of our other projects from a more
                technical or feedback angle, feel free to join the <a name="Discord" href="https://discord.gg/jGZxH9f"
                rel="noopener" target="_blank"> Warframe Community Developers&apos; Discord</a> and
                come chill with us.
                <br>
                <br>For Genesis-specific suport or you just want to hang out and talk about
                the game or learn more about Genesis, come join us on <a name="Cephalon Sanctuary"
                href="https://discord.me/cephalon-sanctuary" target="_blank">Cephalon Sanctuary</a>
                <br>
                <br>Would you like to invite Genesis to your server? Use this <a href="https://discordapp.com/oauth2/authorize?client_id=167095321740967937&amp;scope=bot&amp;permissions=326495350"
                target="_blank">invite link</a>. If you modify the permissions requested,
                any non-working functionality is harder to check for. We suggest not modifying
                the permissions.
                <br>
                <br>Looking for stats? We have this handy embed from discordbots.org
                <br>
                <div class="text-center"><a href="https://discordbots.org/bot/123591822579597315" target="_blank"
                    name="Genesis listing on Discord Bots"><img src="https://discordbots.org/api/widget/123591822579597315.svg"></a>
                </div>
            </div>
            <div class="modal-footer">
                <button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal"
                style="cursor:pointer;">Close</button>
            </div>
        </div>
    </div>
</div>
