<li class="nav-item"><a class="nav-link" href="#agree">Bot Agreement</a></li>
<li class="nav-item"><a class="nav-link" href="#origins">Origins</a></li>
<li class="nav-item"><a class="nav-link" href="#how-to-use">How To Use</a></li>
<li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
<li class="nav-item"><a class="nav-link" href="#contributions">Contributions</a></li>
<li class="nav-item"><a class="nav-link" href="#tracking">Track</a></li>
<li class="nav-item"><a class="nav-link" href="#settings">Settings</a></li>
<li class="nav-item"><a class="nav-link" href="#welcoming">Welcoming</a>
<li class="nav-item"><a class="nav-link" href="#ondemand">On Demand</a></li>
<li class="nav-item"><a class="nav-link" href="#wf-utilities">Utils - WF</a></li>
<li class="nav-item"><a class="nav-link" href="#core">Core</a></li>
<li class="nav-item"><a class="nav-link" href="#utility">Utility</a></li>
<li class="nav-item"><a class="nav-link" href="#silly">Silly</a></li>
