<li><a href="#agree">Bot Agreement</a></li>
<li><a href="#origins">Origins</a></li>
<li><a href="#how-to-use">How To Use</a></li>
<li><a href="#features">Features</a></li>
<li><a href="#contributions">Contributions</a></li>
<li><a href="#tracking">Track</a></li>
<li><a href="#settings">Settings</a></li>
<li><a href="#logging">Logging</a></li>
<li><a href="#welcoming">Welcoming</a>
<li><a href="#ondemand">On Demand</a></li>
<li><a href="#wf-utilities">Utils - WF</a></li>
<li><a href="#core">Core</a></li>
<li><a href="#utility">Utility</a></li>
<li><a href="#promocodes">Promocodes</a></li>
<li><a href="#silly">Silly</a></li>