<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Genesis | {{title}}</title>
        {{> analytics}}
        {{> dependencies}}
    </head>
    {{> nav}}
    <body>
        
        {{{body}}}
    </body>
</html>
