<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Genesis | {{title}}</title>
        {{> analytics}}
        {{> dependencies}}
    </head>
    <body data-spy="scroll" data-target="#affix-nav" data-offset="15">
        {{> nav}}
        {{{body}}}
    </body>
</html>
