<nav class="col-sm-3">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" id="affix-nav">
    <li><a class="tablinks" href="#tracking">Track</a></li>
  	<li><a class="tablinks" href="#settings">Settings</a></li>
   	<li><a class="tablinks" href="#welcoming">Welcoming</a>
   	<li><a class="tablinks" href="#ondemand">On Demand</a></li>
   	<li><a class="tablinks" href="#wf-utilities">Utils - WF</a></li>
   	<li><a class="tablinks" href="#core">Core</a></li>
   	<li><a class="tablinks" href="#utility">Utility</a></li>
   	<li><a class="tablinks" href="#silly">Silly</a></li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="grid-item col-md-8 col-md-offset-2">
    Hello Operator. I exist to assist you with finding and tracking information for your journey in Warframe.
    <br /> In order to see my configuration options, ask me to <code>/track</code>.
    <br /> If you'd like to see all of my options, ask for <code>/help</code>.
    <hr>
    <h3 class="text-center">Discord Bot Agreement Stuff</h3>
    <br />Due to the New Discord T.O.S., if you continue to use, participate, be in, or not leave Cephalon Sanctuary, you agree to allowing me, any person, user, or member, any bot, service, app, and anything to collect, use, transmit, or any data
    related to your user account, any data made available by Discord in the API or SDK, any metadata from your user account, any messages and or content you send, and anything else you do or give by staying in Cephalon Sanctuary, or by using my bot.
    <br /> If you do not agree to letting Genesis, Oratoris, or any other bot there do so, please kick Genesis from your clan or depart from Cephalon Sanctuary.
    <br />
    <hr>
    <h3 class="text-center">The Origins of Cephalon Genesis</h3>
    <p>
      Many millenia ago, Cephalon Genesis was discovered in a far away communications system being asked for the newest troop movements and activity of the acursed sentients, but it could not feel fulfilled by only this duty.
      <br /> Over time Genesis has developed more than the mere ability to track enemies, and has become more efficient at tracking enemies. Since it's birth, it has come from querying of Cordylon's databases to the furthest intimacy of hugging Tenno.
    </p>

    <hr>
    <h3 class="text-center">How to Use</h3>
    Genesis' alias is either <code>/</code> or <code>@genesis</code>
    <br /> If you want Genesis to track all alerts, use <code>/track alerts items</code>.
    <br /> There are many different tracking options available, and they are all available from <code>/track</code>
    <br /> Using <code>/track alerts</code> or <code>/track invasions</code> will not start the tracking process, you will have to specify which items you would like to track.
    <br /> For example: <code>/track alerts nitain</code> and <code>/track invasions catalyst</code>
    <br /> or for tracking all alerts and invasions <code>/track alerts invasions items</code>.
    <br /> Switch platforms using the <code>/platform &lt;Platform&gt;</code>. Valid platforms are <code>PC</code>, <code>PS4</code>, and <code>XB1</code>.
    <hr>
    <h3 class="text-center">Features</h3> Track Warframe data, get notifications about alerts, sorties, etc.
    <br />
    <hr>
    <h3 class="text-center">Contributions</h3> We accept and welcome contributions. Feel free to contribute to development on:
    <ul>
      <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2SHK99GUPGRFS" target="_blank">Paypal</a></li>
      <li><a href="bitcoin:1HU6BtbsJu3ttbc2qKGFGR2hQpou9JSkjB" target="_blank">Bitcoin</a></li>
      <li><a href="https://patreon.com/cephalongenesis" target="_blank">Patreon</a></li>
   </ul>
   <br />
      <hr>
      <h3 class="text-center">Commands</h3>
	  {{> commands-tracking}}
	  {{> commands-settings}}
	  {{> commands-welcoming}}
	  {{> commands-ondemand}}
	  {{> commands-wf-utilities}}
	  {{> commands-core}}
	  {{> commands-utility}}
	  {{> commands-silly}}
  </div>
  {{> footer}}
</div>
<!-- /.container -->

<!-- required js for page -->
<script src="js/main.js"></script>

{{> themes}}